Source: six
Section: python
Priority: optional
Maintainer: Jeremy Davis <jeremy@turnkeylinux.org>
Build-Depends: debhelper-compat (= 13),
               dh-python,
               python2.7,
               python-setuptools,
Standards-Version: 4.5.1
Vcs-Git: https://github.com/turnkeylinux/python-six.git
Vcs-Browser: https://github.com/turnkeylinux/python-six
Homepage: https://github.com/benjaminp/six
Testsuite: autopkgtest-pkg-python

Package: python-six
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
         ${python:Depends},
Description: Python 2 and 3 compatibility library (Python 2 interface)
 Six is a Python 2 and 3 compatibility library. It provides utility
 functions for smoothing over the differences between the Python versions
 with the goal of writing Python code that is compatible on both Python
 versions.
 .
 This package provides Six on the Python 2 module path. It is complemented
 by python3-six and pypy-six.
